@model IEnumerable<MovieListViewModel>

<h1>Movies</h1>
<a asp-controller="Movie" asp-action="Create">Add movie</a>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Detail</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Title</td>
				<td>@item.Description</td>
				<td><a asp-controller="Movie" asp-action="Detail" asp-route-id="@item.Id">View movie</a></td>
			</tr>
		}
	</tbody>
</table>