@model IEnumerable<MovieListViewModel>

<h1>Movies</h1>
<a asp-controller="Movie" asp-action="Create">Add movie</a>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Title</td>
				<td>@item.Description</td>
			</tr>
		}
	</tbody>
</table>